:root {
    /* cores template */
    --vermelho: #eb391a;
    --vermelhoHover: #fa593c;
    --preto: #eceaea;
    --font: black;
    --fontHover:white;
}
@media screen and (max-width: 600px) {
    :root{
        --heightNav: 80px;
    }
}